{% load staticfiles %}
{% load widget_tweaks %}
<form method="POST" action="{{ action }}">{% csrf_token %}
	{% for field in form %}
	<div class="form-group">
		{% if field.name != 'ativo' and field.name != 'bloqueado' %}
			<label for="id_{{ field.name }}">{{ field.label }}</label>
		    {{field|add_class:"form-control" }}
		    <p class="help-text">{{ field.help_text }} </p>
		{% endif %}
	</div>
	{% endfor %}
	<div class="input-group">
		<span class="input-group-btn">
			<button id="cliente_btn_salvar" class="btn btn-success" type="submit">
				Salvar
			</button>
			<button id="cliente_btn_excluir" alt={{cliente_id}} class="btn btn-danger" style="margin-left: 10px;">
				Excluir
			</button>
		</span>
	</div>
</form>
<script src="{% static 'cliente/cliente.js' %}"></script>

